
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-large: 18px;
    --spacing-base: 10px;
    --color-primary: #3e87c3;
    --color-secondary: #6c757d;
}

html {
    font-size: var(--font-size-base); 
    scroll-behavior: smooth;
    transform: scale(1); 
    transform-origin: 0 0;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif, Arial, sans-serif; 
    font-size: 1rem; 
    color: var(--color-primary);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; 
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem; 
}

p {
    font-size: 1rem;
    line-height: 1.5;
}


@media (max-width: 768px) {
    body {
        font-size: var(--font-size-small); 
    }
}

@media (min-width: 1200px) {
    body {
        font-size: var(--font-size-base); 
    }
}

@media (min-width: 1600px) {
    body {
        font-size: var(--font-size-large); 
    }
}


.full-screen {
    width: 100vw;
    height: 100vh;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

